services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.local
    container_name: backend
    volumes:
      - ./src/:/var/task
    ports:
      - "5000:5000"
    command: sh -c "flask run --host=0.0.0.0 --port=5000 --debug"
    restart: unless-stopped

  localstack:
    build:
      context: .
      dockerfile: Dockerfile.localstack
    container_name: localstack
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./:/opt/code/localstack/app"
    ports:
      - "4566:4566"
