services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    volumes:
      - ./src/:/var/task
    ports:
      - "5000:5000"
    command: sh -c "flask run --host=0.0.0.0 --port=5000 --debug"
    restart: unless-stopped
